body{
  margin: 0;
  padding: 0;
  background: #1d1d1d;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Playfair Display', serif;
  min-width: 360px;
}

body > #root > div {
  height: 100vh;
}